figure .ML1 {
    top: 43%;
    left: 57%;
}

figure .ML2 {
    top: 46.5%;
    left: 61.5%;
}

figure .ML3 {
    top: 47%;
    left: 63%;
}

figure .Sd {
    top: 36%;
    left: 46%;
}

figure .W1 {
    top: 49%;
    left: 61.5%;
}

figure .W2 {
    top: 51%;
    left: 61%;
}

figure .S2 {
    top: 38%;
    left: 51%;
}

figure .LL1 {
    top: 54%;
    left: 61%;
}

figure .LL2 {
    top: 60%;
    left: 61.5%;
}

figure .S1 {
    top: 48%;
    left: 68%;
}

figure .S {
    top: 50%;
    left: 69%;
}

figure .V {
    top: 51%;
    left: 67%;
}

figure .U {
    top: 51%;
    left: 71%;
}

figure .R {
    top: 48%;
    left: 72%;
}

figure .T {
    top: 54%;
    left: 71%;
}

figure .Tx {
    top: 52%;
    left: 75%;
}

figure .X {
    top: 48%;
    left: 75%;
}

figure .K {
    top: 55%;
    left: 69%;
}

figure .P1 {
    top: 57%;
    left: 72%;
}

figure .Ga {
    top: 57%;
    left: 88%;
}

figure .C1 {
    top: 60%;
    left: 64%;
}

figure .C2 {
    top: 62.5%;
    left: 64%;
}

figure .C3 {
    top: 60%;
    left: 67%;
}

figure .O {
    top: 66%;
    left: 69%;
}

figure .Q {
    top: 72%;
    left: 69.5%;
}

figure .Ip {
    top: 76%;
    left: 66%;
}

figure .N {
    top: 67.5%;
    left: 66%;
}

figure .A {
    top: 70%;
    left: 65%;
}

figure .B {
    top: 64%;
    left: 60%;
}

figure .Gb {
    top: 65%;
    left: 57%;
}

figure .Gb {
    top: 65%;
    left: 57%;
}

figure .G {
    top: 68.5%;
    left: 55%;
}

figure .Rga {
    top: 60%;
    left: 55%;
}

figure .Rgb {
    top: 60%;
    left: 57.5%;
}

figure .Rgc {
    top: 59%;
    left: 59%;
}

figure .Mj {
    top: 58%;
    left: 52%;
}

figure .ÑL {
    top: 60%;
    left: 48%;
}

figure .Au {
    top: 52%;
    left: 51%;
}

figure .Ñf {
    top: 72%;
    left: 56%;
}

figure .Ña {
    top: 73%;
    left: 57%;
}

figure .Cj {
    top: 75%;
    left: 57%;
}

figure .E {
    top: 76%;
    left: 55%;
}

figure .Ñn {
    top: 78%;
    left: 56%;
}


figure .Pu {
    top: 75%;
    left: 52.5%;
}

figure .Ñg {
    top: 78%;
    left: 51.5%;
}



figure .H {
    top: 71%;
    left: 60.5%;
}

figure .J {
    top: 72%;
    left: 62%;
}

figure .M {
    top: 74.5%;
    left: 61%;
}


figure .Ts {
    top: 55.5%;
    left: 42%;
}




figure .In1 {
    top: 50%;
    left: 47%;
}

figure .In2 {
    top: 49.5%;
    left: 49%;
}

figure .In3 {
    top: 46%;
    left: 55%;
}

figure .In4 {
    top: 41%;
    left: 53%;
}

figure .In5 {
    top: 43%;
    left: 61.5%;
}

figure .In6 {
    top: 51%;
    left: 61.5%;
}

figure .In7 {
    top: 49%;
    left: 59.5%;
}

figure .In8 {
    top: 51%;
    left: 64.5%;
}

figure .In9 {
    top: 55.5%;
    left: 64.5%;
}

figure .In10 {
    top: 61%;
    left: 65.5%;
}

figure .In11 {
    top: 67%;
    left: 64.5%;
}

figure .In12 {
    top: 69%;
    left: 62%;
}

figure .In13 {
    top: 67%;
    left: 55%;
}

figure .In14 {
    top: 75.5%;
    left: 68%;
}

figure .In15 {
    top: 72%;
    left: 59%;
}