* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #EFEFEF;
    /*background: #f9eee1;*/
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 50px 0;
    margin: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
    background-color: #FFFC67FF;
    opacity: 0.9;
    z-index: 2000;
    font-family: "Libre Franklin", sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

.title {
    margin-top: 10px;
}

.svg-logo {
    position: absolute;
    display: inline-flex;
    left: 1050px;
    top: 10px;

}

h1{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.popup{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 121%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3000;

    position: absolute;
    top: 0;
}

.popup-content {
    height: 250px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;

    bottom: 100px;

}

.popup-text {
    position: relative;
    display: inline;
}

.popup-buttons {
    position: absolute;
    left: 37%;
    top: 82%
}

/*.close{*/
/*    position: absolute;*/
/*    top: -15px;*/
/*    right: -15px;*/
/*    background: #fff;*/
/*    height: 20px;*/
/*    width: 20px;*/
/*    border-radius:  50%;*/
/*    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);*/
/*    cursor: pointer;*/
/*}*/



@media only screen and (max-width: 600px){
    h1{
        font-size: 2em;
    }
}

.expand {
    /*transition: background 0.2s, transform 0.5s;*/
    /*transform: scale(1.5);*/
    animation: jump 4s linear;
}
@keyframes jump {
    0%{
        transform: scale(1, 1);
        color: red;
    }

    10%{
        transform: scale(4, 4);
    }

    20%{
        transform: scale(1,1)
    }

    30%{
        transform: scale(4, 4);
    }

    40%{
        transform: scale(1, 1);
    }

    50%{
        transform: scale(4, 4);
    }

    60%{
        transform: scale(1, 1);
    }

    70%{
        transform: scale(4, 4);
        color: red;
    }

    80%{
        transform: scale(1, 1);
    }

    90%{
        transform: scale(4, 4);
    }

    100%{
        transform: scale(1, 1);
    }
}

.svg {
    position: absolute;
    top: 0;
    left: 0;

}


