{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uniandes Map</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="body">
    <h1>This is uniandes map</h1>

    {% for element in route %}
        <h2>{{ element }}</h2>
    {% endfor %}

    <h2>The image works</h2>

    <form method="post">
        {% csrf_token %}
        <label for="start_point_button">Punto Inicial: </label>
        <input type="text" id="start_point_button" name="start_point" placeholder="Incio">

        <button type="button" class="delete-point" id="delete_start_point" onClick="delete_point(this.id)">
            <ion-icon name="close-outline"></ion-icon>
        </button>

        <label for="end_point_button">&emsp;Punto Final: </label>
        <input type="text" id="end_point_button" name="end_point" placeholder="Fin" >

        <button type="button" class="delete-point" id="delete_end_point" onClick="delete_point(this.id)">
            <ion-icon name="close-outline"></ion-icon>
        </button>
        <p style="display:inline;">&emsp;</p>

        <input type="submit" id="search_button" value="Buscar Ruta">
    </form>


    <div id="parent">
        <div class="container">
            <div class="image-hotspot">
                <img src="{% static 'images/map_campus.jpeg' %}" alt="image hotspot" width="1100">

                <a class="rounded-button" id="ML1" onClick="selected_building(this.id)">
                    <ion-icon name="ellipse-outline"></ion-icon>
                </a>

                <a class="rounded-button" id="ML3" onClick="selected_building(this.id)">
                    <ion-icon name="ellipse-outline"></ion-icon>
                </a>

                <a class="rounded-button" id="In3" onClick="selected_building(this.id)">
                    <ion-icon name="ellipse-outline"></ion-icon>
                </a>
            </div>
        </div>

<!--        <div class="popup">-->
<!--            <div class="popup-content">-->
<!--                <ion-icon name="close-outline" alt="Close" class="close"></ion-icon>-->
<!--                <h1>Building selection - Tag</h1>-->
<!--                <p>-->
<!--                    Description of the building for example:-->
<!--                    This building was founded 10 years ago-->
<!--                    by the director of Niacin.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

    </div>


    <script src="{% static 'script/script.js' %}"></script>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>