{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uniandes Map</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexbox.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/2d289c62ad.js" crossorigin="anonymous"></script>
</head>






<body class="body">

    <div class="header">
        <h1>Uniandes Map</h1>
    </div>



    {{ path|json_script:"id-list" }}

    <div class="form-flexbox">

        <div class="form-div">
            <form method="post">
                {% csrf_token %}
                <article class="l-design-widht">
                    <div class="card card--accent">
                        <h2><svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-coffee" href="#icon-coffee" />
                        </svg>Ruta</h2>
                        <label class="input">

                            <input class="input__field" type="text" placeholder=" " id="start_point_button" name="start_point"/>
                            <span class="input__label">Inicio</span>

                            <input class="input__field" type="text" placeholder=" " id="end_point_button" name="end_point"/>
                            <span class="input__label" id="label2">Destino</span>

                        </label>

                    </div>
                </article>
                <input type="submit" class="button-74" id="search_button" value="Buscar Ruta">
            </form>
        </div>



        <div class="statistics-path">
            <h3>Distancia del recorrido:</h3>
            <span>{{ total_distance }}</span>
            <h3>Tiempo aproximado:</h3>
            <span>{{ walk_time }}</span><br><br>
            <h3>Ruta:</h3><br>
            {% for place in path %}
            <ul>
                <li class="places">{{ place }}</li>
            </ul>
            {% endfor %}
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
            <symbol id="icon-coffee" viewBox="0 0 20 20">
                <title>icon-coffee</title>
                <!--            <path fill="#444444" d="M512 13131.333333c-164.949333 0-298.666667 133.738667-298.666667 298.666667 0 164.949333 298.666667 554.666667 298.666667 554.666667s298.666667-389.717333 298.666667-554.666667c0-164.928-133.717333-298.666667-298.666667-298.666667z m0 448a149.333333 149.333333 0 1 1 0-298.666666 149.333333 149.333333 0 0 1 0 298.666666z"></path>-->
            </symbol>
        </svg>


    </div>





    <main class="contenedor">
        <figure id="figure">
            <img src="{% static 'images/map_campus.jpeg' %}" class="mapa" alt="">
            <svg class="svg" id="svg" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg"></svg>
        </figure>
    </main>








    <div class="container">
        <div id="buttons">
            <a class="rounded-button">
                <ion-icon name="ellipse-outline"></ion-icon>
            </a>

            <a class="rounded-button">
                <ion-icon name="ellipse-outline"></ion-icon>
            </a>

            <a class="rounded-button">
                <ion-icon name="ellipse-outline"></ion-icon>
            </a>
        </div>

        <div class="image-hotspot">



            <img src="{% static 'images/map_campus.jpeg' %}" alt="image hotspot">

            <canvas id="myCanvas" width="1100%" height="793%"></canvas>

            <div class="item ml3" id="ML3" onClick="selected_building(this.id)" style="top: 42%; left: 45%;">
                <div class="icon-2">ML</div>
                    <div class="tooltip">
                        <h3>Mario Laserna - ML3</h3>
                        <p>dummy text</p>
                    </div>
            </div>
<!--            33% 37%-->
            <div class="item ml1" id="ML1" onClick="selected_building(this.id)" style="top: 34%; left: 36.5%;">
                <div class="icon-2">ML</div>
                    <div class="tooltip">
                        <h3>Mario Laserna - ML1</h3>
                        <p>dummy text</p>
                    </div>
            </div>
            <div class="item in" id="In3" onClick="selected_building(this.id)" style="top: 39%; left: 32%;">
                <div class="icon-in">In</div>
                    <div class="tooltip">
                        <h3>Interseccion 3 - In3</h3>
                        <p>Una simple interseccion</p>
                    </div>
            </div>
        </div>
    </div>


    <script src="{% static 'script/script.js' %}"></script>
    <script src="{% static 'script/put_icons.js' %}"></script>
    <script src="{% static 'script/tooltipp.js' %}"></script>
    <script type="module" src="{% static 'script/drawsvg.js' %}"></script>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>